numpy
pandas
tensorflow
transformers
scikit-learn
streamlit
matplotlib
seaborn
jupyter
jupyterlab
pytest
typing
scipy
black
gensim
keybert
git+https://github.com/LIAAD/yake
plotly
datetime
requests
json
